.site-footer {
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #1f1e2c;
	color: #ffffff;
	.footer {
		.content {
			padding-bottom: 10px;
			span {
				font-size: 12.5px;
				line-height: 1.25;
				&.en {
					font-style: italic;
					font-size: 13.5px;
					letter-spacing: -0.0125rem;
				}
			}
		}
		.social {
			ul {
				margin: 0;
				padding: 0;
				li {
					display: inline-block;
					padding-bottom: 5px;
					padding-right: 10px;
					list-style: none;
					&:last-child {
						padding-right: 0;
					}
					img {
						height: 15px;
					}
				}
			}
		}
		.credit {
			span {
				font-style: italic;
				font-size: 10px;
				letter-spacing: 0;
			}
		}
	}
}
