.site-footer {
	margin-top: 90px;
	padding-top: 90px;
	padding-bottom: 90px;
	background-color: #000000;
	color: #ffffff;
	.footer {
		padding-top: 30px;
		border-top: solid 1px #ffffff;
		.content {
			padding-bottom: 30px;
			ul {
				margin: 0;
				padding: 0;
				li {
					display: inline-block;
					padding-right: 10px;
					list-style: none;
					img {
						height: 35px;
					}
				}
			}
		}
	}
}
