@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

body {
	color: rgba(0, 0, 0, 0.85);
	font-family: "Spoqa Han Sans";
	font-size: calc(
		20px + (100vw - ((100vw - 850px) / 6 + 15px) * 2 - 1600px) * 0.0005 * 35
	);
	font-smoothing: antialiased;

	line-height: 1.5;
	letter-spacing: 0.05em;
}
