main {
	padding-top: 81px;
	@media only screen and (max-width: $breakpoint-small) {
		padding-top: 61px;
	}
	.video {
		video {
			width: 100%;
		}
	}
	.intro {
		padding-top: 60px;
		padding-bottom: 60px;
		span {
			display: block;
			color: #1f1e2c;
			font-size: 17.5px;
			font-family: "Piazzolla", "Spoqa Han Sans", sans-serif;
			font-weight: 300;
			line-height: 2;
		}
		a {
			display: inline-block;
			margin-top: 30px;
			font-size: 20px;
			font-family: "Piazzolla", "Spoqa Han Sans", sans-serif;
			border-bottom: solid 1px #f57f17;
			transition: all 0.25s;
			&:hover {
				border-bottom: solid 1px #fafafa;
			}
			&::after {
				margin-left: 10px;
				content: "→";
			}
		}
	}
	.line {
		padding-top: 60px;
		border-top: solid 1px hsla(0, 0%, 50%, 0.2);
	}
	.event-schedule {
		padding-bottom: 60px;
		h3 {
			font-size: 25px;
			font-weight: 300;
			letter-spacing: 0.05rem;
			line-height: 1.25;
		}
		.event {
			padding-top: 60px;
			padding-bottom: 45px;
			border-bottom: solid 1px hsla(0, 0%, 50%, 0.2);
			&:first-of-type {
				padding-top: 0;
			}
			&:last-of-type {
				border-bottom: 0;
			}
			h4 {
				margin-bottom: 30px;
				font-family: "Piazzolla", "Spoqa Han Sans", sans-serif;
				font-size: 20px;
				font-weight: 400;
				line-height: 1.5;
				a {
					border-bottom: solid 1px #f57f17;
					transition: all 0.25s;
					&:hover {
						border-bottom: solid 1px #fafafa;
					}
					&::after {
						margin-left: 10px;
						content: "→";
					}
				}
			}
			span {
				display: block;
				margin-bottom: 15px;
				color: #898989;
				font-size: 15px;
				a {
					border-bottom: solid 1px #f57f17;
					transition: all 0.25s;
					color: #1f1e2c;
					&:hover {
						border-bottom: solid 1px #fafafa;
					}
				}
			}
		}
	}
}
