body {
	background-color: #fafafa;
}

.page-template-default {
}

// Project
main {
	&.project {
		h2 {
			color: #1f1e2c;
			font-size: 50px;
		}
		.image {
			img {
				max-width: 100%;
			}
		}
	}
}
