.page-template-default {
}

// Project
main {
	font-family: "S-CoreDream-2ExtraLight";

	.intro {
		padding-top: 30px;
		padding-bottom: 60px;
		span {
			font-size: 20px;
			line-height: 2;
		}
	}

	&.project {
		h2 {
			color: #000;
			font-size: 50px;
			font-weight: normal;
		}

		.content {
			.video {
				position: relative;
				width: 100%;
				height: 0;
				padding-bottom: 56.25%;
				iframe {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
			}
		}

		.image {
			img {
				max-width: 100%;
			}
		}
	}
}
